ion-toggle {
    --background: red;
    --background-checked: green;
    top: 16px;
    left: 62%;
    width: 47px;
    height: 19px;
    --handle-background: white;
    --handle-background-checked: white;
  }
  .xxx{
    height: 35px;
    width: 37px;
     
  }
  .ddd{
    --background:white;
    margin-bottom: 15%;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 15%;
  }
  .ion-content{
      --background: grey;
  }
  .card{
    height: auto;
    border-radius: 8px;
    width: 88%;
    margin-top: 100px;
    margin-left: 19px;
    background-color: #eef0f3;
 }
 .abc{
    width: 90%;
    margin-left: 12px;
    --background: #448444;
 }